In [1]:
#create a list using []
a=[1,2,4,56,6]
print(a)

[1, 2, 4, 56, 6]

In [8]:
#a[0] #to see the 0th position element in the list
#a[-1] #to see the -1th position element in the list
#a[1:3] #to see the 1:3 elements of the list excluding the highest element
#a[: : 2] #to see the all elements of the list with the increment of 2
#a[:] #to see all the elements of the list
#a[0:] #to see the all the elements of the list starting with 0 to last
a[:5] #to see the all the elements of the list starting from 0 to 5th

[1, 2, 4, 56, 6]

In [9]:
#change the value of the list
a[0]=9
print(a)

[9, 2, 4, 56, 6]

In [12]:
b=[45,"Harry",False,6.9] #list can have any type of elements
print(b)
b[2]

[45, 'Harry', False, 6.9]

False

In [16]:
#list slicing
c=["Harry","Tom","Rohan","Sam","Divya",45]
#print(c) #print the elements
#print(c[0:4]) #print elements from 0 to 4 excluding 4th element
#print(c[-4:]) #to print the elements from last
print(c[-4:-2]) #to print the elements from -4 to -2 excluding the -2th elements

['Rohan', 'Sam']

In [29]:
#operations on list
d=[1,8,7,21,15]
#print(d) #print the elements of the list
#d.sort() #to arrange the elements in ascending order by default using function
#d.reverse() #to reverse the elements of the list
#d.append(45) #to add the elements at the last of the list
#d.insert(2,544) #to add the new element at the 2nd position
#d.pop(2) #to remove the 2nd position element from the list 
d.remove(21) #to remove the particular element from the list
print(d)
type(d)

[1, 8, 7, 15]

list

In [30]:
#create a tuple using ()
e=(1,2,4,5)
print(e)

(1, 2, 4, 5)

In [33]:
#f=() #empty tuple
#f=(1) #single element like this not a tuple it a int
f=(1,) #to put single element as a tuple use comma after the element
print(f)
type(f)

(1,)

tuple

In [36]:
#printing the elements of a tuple
#print(e[0]) #to print the 0th position element of the tuple
#e[0:] #to see the all the elements
e[:4] #to see the all the elements

(1, 2, 4, 5)

In [39]:
#creating the tuple using ()
g=(1,2,4,5,4,1,2,1,1,5)
#print(g) #to print the elements
#print(g.count(1)) #the number of times a particular element is repeted in the tuple
print(g.index(5)) #to see the index of the particular element

3

In [52]:
#create list to store the marks of 6 courses and also sort it. Marks will be taken from user at run time
A=input("Enter the marks of the first course: ")
A=int(A)
B=input("Enter the marks of the second course: ")
B=int(B)
C=input("Enter the marks of the third course: ")
C=int(C)
D=input("Enter the marks of the fourth course: ")
D=int(D)
E=input("Enter the marks of the fifth course: ")
E=int(E)
F=input("Enter the marks of the sixth course: ")
F=int(F)
G=[A,B,C,D,E,F]
print(G)
type(G)
G.sort()
print(G)

Enter the marks of the first course: 1
Enter the marks of the second course: 5
Enter the marks of the third course: 94
Enter the marks of the fourth course: 5
Enter the marks of the fifth course: 76
Enter the marks of the sixth course: 55
[1, 5, 94, 5, 76, 55]
[1, 5, 5, 55, 76, 94]

In [67]:
#create list to store the marks of 6 courses and also sort it. Marks will be taken from user at run time using loop
for i in range(6):
  marks=input("Enter the marks of the courses: ")
  marks=int(marks)
  print(marks)
  Marks=[marks]
print(Marks)

Enter the marks of the courses: 99
99
Enter the marks of the courses: 24
24
Enter the marks of the courses: 57
57
Enter the marks of the courses: 38
38
Enter the marks of the courses: 59
59
Enter the marks of the courses: 79
79
[79]

In [68]:
type(Marks)

list